<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<%= simple_form_for(@spot) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.hidden_field :latitude,
                required: true, wrapper_html: {class: "around"}, label: "Latitude of the spot:" %>
    <%= f.hidden_field :longitude,
                required: true, wrapper_html: {class: "around"}, label: "Longitude of the spot:" %>

    <%= f.input :name,
                  required: true, label: "Name:", input_html: {class: "textarea"}, wrapper_html: {class: "around"} %>

    <%= f.input :description,
                  required: true, label: "Detailed description:", input_html: {class: "textarea"}, wrapper_html: {class: "around"} %>
    <%= f.label "Type:" %>
      <br>
      <%= f.select :spot_type, %w(Flat Choppy Wavey) %>
      <br>
      <br>
    <%= f.submit "Continue" %>
  </div>
<% end %>
