<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<div class="wrapper">

  <div class="black-rectangle">
    <h2>Kite<span class="red">Safe</span></h2>
    <%= form_with url:"spots", method: "get" do %>
      <%= select_tag :date, options_for_select(@spots.first.weather_conditions.map { |x| x.date }), { onchange: 'this.form.submit()', method: "get" } %>
    <% end %>
  </div>

  <% @spots.each do |spot| %>
    <hr>
    <%= link_to spot_path(spot) do %>
    <div class="spot-title-container">
      <div>
        <ul class="spot-name">
          <li class="title-name-reg">
            <h5><%= spot.name %></h5>
          </li>
        </ul>
      </div>
      <div class="percentage-result-box">
        <ul class="list-inline percent-result">
          <li class="list-inline-item percent-num">
            <h4 class="green">
               <% if params[:date] %>
                  <% w_condition = spot.weather_conditions.where(date: params[:date]).first %>
                <% else %>
                  <% w_condition = spot.weather_conditions.first %>
                <% end %>
                <% unless w_condition.nil? %>
                  <% if w_condition.level.to_i == 0 %>
                    <%= 0 %>
                  <% else %>
                    <% match_percentage = ((@level.to_f / w_condition.level.to_f) * 100).to_i %>
                    <%= match_percentage > 100 ? 100 : match_percentage %>
                  <% end %>
                <% end %>
            </h4>
          </li>

          <li class="list-inline-item percent-sign">
            <h6 class="green">%</h6>
          </li>
        </ul>
        <h6 class="match">Match</h6>
      </div>
    </div>
    <hr>

    <% if spot.photos.empty? %>
      <div class="image-spot" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
      url('<%= image_path 'JPG/kite.jpg' %>')">
    <% else %>
      <div class="image-spot" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
      url('<%= cl_image_path spot.photos.first.photo.url %>')">
    <% end %>


  </div>
  <div class="arrow bounce">
    <i class="fas fa-chevron-down index-arrow"></i>
  </div>
  <hr>

  <div class="card-bottom">
    <div class="row my-row">
      <div class="average-rating">
        <p>Avg. Rating</p>
        <% spot.average_rating.times do %>
        <i class="fas fa-star fill"></i>
        <% end %>
        </div>

    <% if spot.weather_conditions.empty? %>

    <div class="image-description">
      <ul class="list-inline conditions">
        <li class="list-inline-item"><h5>Fetching Data</h5></li>

        <li class="list-inline-item"><h5>Fetching Data</h5></li>

        <li class="list-inline-item"><h5>Fetching Data</h5></li>
      </ul>
    </div>

    <% else %>

    <div class="image-description">
      <ul class="conditions">
        <li class="list-inline-item"><h5 class="knots-number"><%= w_condition.wind_speed.to_i.ceil  unless nil %></h5> </li>
        <li class="list-inline-item" class="weather-arrow-best"><i class="fas fa-long-arrow-alt-down" data-fa-transform="rotate-<%= spot.weather_conditions.first.wind_direction.to_i.ceil %>"></i></li>
        <% if spot.spot_type == "Wavey" %>
          <li class="list-inline-item wave-icons-best"><%= image_tag("SVG/big-wave.svg", size: "26x26", alt: "map icon") %></li>
        <% elsif spot.spot_type == "Choppy" %>
          <li class="list-inline-item wave-icons-best"><%= image_tag("SVG/wave-icon.svg", size: "26x26", alt: "map icon") %></li>
        <% else spot.spot_type == "Flat" %>
          <li class="list-inline-item wave-icons-best"><%= image_tag("SVG/wave-flat.svg", size: "26x26", alt: "map icon") %></li>
        <% end %>
      </ul>
      <ul class="conditions">
        <li class="list-inline-item"><p>kts</p></li>
        <li class="list-inline-item"><p> <%= w_condition.wind_direction.to_i.ceil unless nil %> °</p></li>
        <% if spot.spot_type == "Wavey" %>
          <li class="list-inline-item"><p>Wavey</p></li>
        <% elsif spot.spot_type == "Choppy" %>
          <li class="list-inline-item"><p>Choppy</p></li>
        <% else %>
          <li class="list-inline-item"><p>Flat</p></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    </div>
  </div>
 <% end %>
<% end  %>

</div>







