
<%= simple_form_for [@spot, @difficulty_level] do |f| %>
<%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :optimal_wind_direction %>
    <%= f.label :name, "Select your minimum level"   %>
    <%= f.select :minimum_level, [*1..10] %>
    <br>
    <%= f.submit "Submit Difficulty level", class: "btn btn-primary" %>
  </div>
<% end %>



