
<%= simple_form_for [@spot, @difficulty_level] do |f| %>
<%= f.error_notification %>
  <div class="form-inputs" id="review-form">
    <%= f.input :optimal_wind_direction, label: "Describe your spot"%>
    <br>
    <%= f.input :minimum_level, collection: [*0..5], label: false, prompt: "Pick your minimal level <i class='fas fa-sort-down'></i>".html_safe %>
    <br>
    <%= f.submit "Submit your level",  class: "btn btn-primary" %>
  </div>
<% end %>






