<h3>Please enter a pros!</h3>
<%= simple_form_for [@spot, @advice] do |f| %>
  <%= f.input :description %>
  <%= f.hidden_field :kind, as: :hidden, value: true %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<h3>Please enter a cons!</h3>
<%= simple_form_for [@spot, @advice] do |f| %>
  <%= f.input :description %>
  <%= f.hidden_field :kind, as: :hidden, value: false %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <hr>
  <%= f.submit "Exit", class: "btn btn-primary" %>
<% end %>

<!-- Should be set as a string -->
