<div class="form-wrap">
  <h3>Please enter a pros!</h3>
  <%= simple_form_for [@spot, @advice] do |f| %>
    <%= f.input :description %>
    <%= f.hidden_field :kind, as: :hidden, value: true %>
    <%= f.submit "Submit", class: "btn secondary-btn" %>
  <% end %>

  <h3>Please enter a cons!</h3>
  <%= simple_form_for [@spot, @advice] do |f| %>
    <%= f.input :description %>
    <%= f.hidden_field :kind, as: :hidden, value: false %>
    <%= f.submit "Submit", class: "btn secondary-btn" %>
    <hr>
    <br>
    <%= f.submit "Exit", class: "btn main-btn" %>
  <% end %>


  <div class="flexbox">
    <ul>
      <% if @pros.length > 0 %>
        <h2>Pros :</h2>
      <% end %>
      <% @pros.each do |pro| %>
        <li>
          <div class="space-between">
            <%= pro.description %>
            <%= link_to "<i class='fas fa-times-circle'></i>".html_safe, spot_advice_path(@spot, pro), method: :delete  %>
          </div>

        </li>
      <% end %>
    </ul>
    <ul>
      <% if @cons.length > 0 %>
        <h2>Cons : </h2>
      <% end %>
      <% @cons.each do |con| %>
        <li>
          <div class="space-between">
            <%= con.description %>
            <%= link_to "<i class='fas fa-times-circle'></i>".html_safe, spot_advice_path(@spot, con), method: :delete  %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<!-- Should be set as a string -->
