<div class="flexbox container-form">
  <div class="photoForm" id="review-form">
    <div class="formitself">
      <h1 class="review-title-padding">Add a photo</h1>
      <%= simple_form_for [@spot, @photo] do |f| %>
        <%= f.input :photo, label: "", width: 400, height: 300, crop: :fill%>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "+Photo", class: "btn secondary-btn inlinebtn" %>
        <btn class="btn secondary-btn inlinebtn" id="showUploadedPictures">View</btn>
      </div>
      <div class="submititself">
        <hr>
        <%= f.submit "Done", class: "btn main-btn" %>
      </div>
    <% end %>
  </div>
  <div class="showPhotos">
    <div class="xD">
      <% @photos.each do |photo| %>
        <div style="background-image: url(<%= photo.photo.url %>)" class="anImage">
        </div>
        <hr>
      <% end %>
    </div>
    <button class="main-btn centered-btn-continue" id="closePhotos">Close</button>
 </div>
</div>

