
<div class="flexbox container-form">
  <div row>
  <div class="form-inputs" id="review-form">
    <h1>Add a photo</h1>
    <%= simple_form_for [@spot, @photo] do |f| %>
      <%= f.input :photo, label: "Upload"%>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "+ photo", class: "btn secondary-btn" %>
      <hr>
      <%= f.submit "Done", class: "btn secondary-btn" %>
    <% end %>
  </div>
  </div row>
  <div class="photos">
   <% @photos.each do |photo| %>
    <%= cl_image_tag photo.photo.url, height: 300, width: 400, crop: :fill %>
  <% end %>
 </div>
</div>

