
<%= simple_form_for [@spot, @review] do |f| %>
<%= f.error_notification %>
  <div class="form-inputs" id="review-form">
    <%= f.input :description, label: "Describe your spot", id: "labelfont" %>
    <%= f.input :rating, collection: [*1..5], label: false, prompt: "Pick a rating <i class='fas fa-sort-down'></i>".html_safe %>
     <br>
    <%= f.submit "Submit review", class: "btn secondary-btn btn-center" %>
    <br>
    <br>
    <br>
  </div>
<% end %>




