
<%= simple_form_for [@spot, @review] do |f| %>
<%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :description   %>
    <%= f.label :name, "Rate your spot"   %>
     <%= f.select :rating, [*1..10] %>
    <%= f.submit "Create spot review" %>
  </div>
<% end %>



