<div class="marker-card">
  <h2 class="spotfirstname"> <%= spot.name %> </h2>
    <div>
      <p class="description-popup"> <%= spot.description.truncate(50) %> </p>
    </div>

    <div class="content-icons">
      <div class="starsaverage">
        <% spot.average_rating.times do %>
          <i class="fas fa-star fill"></i>
        <% end %>
      </div>
      <div class="popup-rating">
        <p> Rating </p>
      </div>

      <div class="wave-popup">
        <%= image_tag("SVG/wave-icon.svg", size: "42x30", alt: "wave icon") %>
      </div>
      <div>
        <p class="wave-popup-text"> <%= spot.spot_type %> </p>
      </div>

      <div class="popup-number">
        <h4> 100 </h4>
      </div>
      <div class="popup-percent">
        <p> % </p>
      </div>
      <div class="popup-match">
        <p> Match </p>
      </div>
    </div> <!--- div closing the content icons div --->

    <div class="popup-btn-box">
      <button class="see-spot-button">
        <%= link_to "See spot", spot_path(spot) %>
      </button>
    </div>
</div> <!--- div closing the marker card main div --->


